/* Todas las letras son negras y la fuente es Georgia */
html *
{
   color: #000 !important;
   font-family: Georgia !important;
}
/* Titulo: Evaluacion del Desempeño */
h1 {
  text-align: center;
  color:black;
  font-weight: bold;
  font-size: 280%;
  width: 400px;
  height: 100px;
  position: absolute;
  top:200;
  bottom: 0;
  left: 120;
  right: 0;
  margin: auto;
}
/* Subtitulo: Funcionario: Nombre */
h2 {
  text-align: center;
  color:black;
  font-size: 195%;
  width: 500px;
  height: 100px;
  position: absolute;
  top:290;
  bottom: 0;
  left: 80;
  right: 0;
  margin: auto;
}
/* Subtitulo: Cargo: Nombre */
h5 {
  text-align: center;
  color:black;
  font-size: 190%;
  width: 500px;
  height: 100px;
  position: absolute;
  top:320;
  bottom: 0;
  left: 80;
  right: 0;
  margin: auto;
}
/* Firmas */
.signature {
  padding-left:60px;
  padding-top:650px;
  background-color: white;
  border: 0px;
}
/* Salto de página */
p.saltodepagina {
  page-break-after: always;
}
/*	Tablas */
table {
	border: 2px solid black;
  border-collapse: collapse;
}
th {
	text-align:center;
	border: 2px solid black;
  background-color: lightgray;
}
td {
	color:black;
	text-align:center;
	font-weight: bold;
	border: 2px solid black;
}
/* Titulos generales */
h3 {
	text-align: center;
}
/* Título: Meta N° */
.meta {
	background-color: rgba(255,255,0,0.8);
	text-align: center;
	font-weight: bold;
	border: 2px solid black;
	padding: 0.5cm;
}
/* Tamaño letra Descripción en Indicadores */
.chica {
  font-size: 10px;
}
/* Total de Metas */
.total {
	background-color: lightgray;
	text-align: center;
	font-weight: bold;
	padding: 0.5cm;
  border: 2px solid black;
  font-size: 20px;
}
/* Título: Competencia N° */
.comp {
	background-color: rgba(255,255,0,0.8);
	text-align: center;
	font-weight: bold;
	border: 2px solid black;
	padding: 0.5cm;
}
/* Head Resumen Competencias */
.resumen {
  background-color: rgba(255,255,0,0.8);
  border = 0px;
}
/* Tabla Resumen Competencias */
.tablelight {
  margin: 0px auto;
}
/* Criterio N° */
.criterio {
  width: 50%;
  font-weight: bold;
  font-size: 100%;
}
.descripcion {
  width: 50%;
  font-size: 90%;
}
